<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" href="/">WIN CLUB86</a>
  </div>
</nav>
<header class="master-head">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="display-1 lh-1 mb-3">TẢI NGAY APP ỨNG DỤNG CASINO</h1>
          <p class="lead fw-normal text-muted mb-5">Chào mừng bạn đến với WinClub86. Vì để tiện cho việc quý khách có
            thể chơi game ở mọi lúc mọi nơi, bên chúng tôi đã phát triển ra ứng dụng APP để hỗ trợ quý khách. Vui lòng
            bấm vào bên dưới để tải điện thoại di động, nếu chưa hiểu thao tác vui lòng trượt xuống màn hình để biết các
            bước thao tác hoặc liên hệ với bộ phận chăm sóc khách hàng.</p>
          <div class="d-flex flex-column flex-lg-row align-items-center">
            <a href="assets/res/WIN%20CLUB86.mobileconfig" role="button"
              class="btn btn-outline-secondary me-lg-3 mb-4 mb-lg-0" download>
              <i class="fab fa-apple"></i>
              IOS Download
            </a>
            <a href="assets/res/WINCB-86-APK.apk" role="button" class="btn btn-outline-dark" download>
              <i class="fab fa-android"></i>
              Android Download
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/banner.png" class="img-fluid">
      </div>
    </div>
  </div>
</header>
<app-ios-install-tutorial></app-ios-install-tutorial>
<app-android-install-tutorial></app-android-install-tutorial>