<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2>HƯỚNG DẪN TẢI APP CHO PHIÊN BẢN IOS</h2>
          <p>HƯỚNG DẪN TẢI APP IOS 1</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-1-1.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 1 : Truy cập vào safari</figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-1-2.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 2 : nhập club-86.com truy cập trang web </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-1-3.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 3 : chọn giao diện tiện ích Iphone </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-1-4.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 4 : chọn thêm màn hình chính </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-1-5.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 5 : chọn nút thêm </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-1-6.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 6 : ứng dụng winclub86 ngoài màn hình </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2>HƯỚNG DẪN TẢI APP CHO PHIÊN BẢN IOS</h2>
          <p>HƯỚNG DẪN TẢI APP IOS 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-1.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 1 : nhấp vào IOS download </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-2.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 2 : chọn cho phép </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-3.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 3 :nhấp “Đóng” hoàn tất tải về </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-4.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 4 : Trở lại màn hình chính chọn “ CÀI ĐẶT ” </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-5.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 5 : Chọn cài đặt chung </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-6.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 6 : Chọn CẤU HÌNH </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-7.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 7 : nhấp chọn vào WIN CLUB86 </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-8.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 8 : chọn CÀI ĐẶT </figcaption>
        </figure>
      </div>
      <div class="col-lg-4 col-md-6">
        <figure class="figure">
          <img src="assets/images/ios-2-9.png" class="figure-img img-fluid rounded">
          <figcaption class="figure-caption text-end">Bước 9 : ứng dụng WINCLUB86 ngoài màn hình </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>